.usercontainer {
  background-color: #034169;
  box-shadow: 4px 4px 4px 4px #00000080;
  padding: 20px;
  margin-top: 50px;
}

.userheading {
  margin-top: 20px;
<<<<<<< HEAD
  /* font-family: Luckiest Guy; */
  font-family: 'Gotu', sans-serif;
=======
>>>>>>> 70493780fa7509a3fdde71326773a0da948751dc
  color: white;
  font-size: 30px;
  text-align: center;
}
.next {
<<<<<<< HEAD
  /* font-family: Luckiest Guy; */
  font-family: 'Gotu', sans-serif;
=======
>>>>>>> 70493780fa7509a3fdde71326773a0da948751dc
  color: white;
}

.links {
  font-size: 20px;
  color: white;
}
