.usercontainer {
  box-shadow: 4px 4px 4px 4px #00000080;
  padding: 20px;
  margin-top: 50px;
}

.userheading {
  margin-top: 20px;
  font-family: "Gotu", sans-serif;
  color: white;
  font-size: 30px;
  text-align: center;
}
.next {
  font-family: "Gotu", sans-serif;
  color: white;
}

.links {
  font-size: 20px;
  color: white;
}
