.rad-row {
  margin-bottom: 10px;
}

.create-heading {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 22px;
  margin-top: 20px;
}

.prof-signout {
  text-align: center;
  /* border-bottom: thin solid; */
}

.side-nav {
  padding-top: 30px;
  overflow-x: hidden;
  z-index: 1;
  background-color: #e1e1e1;
  height: 100vh;
  box-shadow: 6px 6px 6px #00000080;
  /* marginRight: "30px", */
}

@media only screen and (max-width: 600px) {
  .side-nav {
    font-size: 15px;
  }
}
