.nav-btns {
  margin: 20px;
  box-shadow: 1px 2px 4px #00000080;
}

.majjnav {
  background-color: #034169;
}
/* 59185d */

.nav-btns:hover {
  background-color: #f0b429 !important;
  color: #fff3c4 !important;
}
