.mosaic.row {
  margin-top: 0px;
  /* padding-left: 10px; */
  height: 100vh;
  overflow: auto;
}

.tile:hover {
  opacity: 0.5;
}

.picture {
  align-self: center;
  margin-top: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.title {
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.card {
  color: black;
  height: 450px;
  box-shadow: 4px 4px 4px 4px #00000080;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  border-color: #034169;
}

a {
  color: #8002a3;
}
a:hover {
  text-decoration: none;
  color: #056766;
}

button {
  color: #8002a3;
  border: white;
}
button:hover {
  background: #f6b137;
}

.icons {
  text-align: center;
}

.name {
  text-align: center;
}

.date {
  text-align: center;
}
